@import '../variables.scss';

.root {
  background-color: $purple !important;
  justify-content: center !important;
  padding: 30px 16px !important;

  li {
    padding: 10px;
    margin: 10px;
    display: inline-block;
  }

  a {
    color: $white;
    text-decoration: none;
    font-size: 20px;

    &:hover {
      color: $gray;
    }
  }
}