@import './variables.scss';

.container {
  background: #2aabd2;
}

.footer {
  background: #f7f7f9;
  padding: 20px;

  a {
    color: #798099;

    &:hover {
      color: darkslategray
    }
  }
}

.dropzone {
  width: 380px;
  height: 380px;
  background: lightgray;
  border: 2px dashed;
  float: left;

  div[id=msg] {
    width: 180px;
    margin: 40% auto;
  }
}

.middle {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 380px;
  text-align: center;

  button {
    margin: 10px;
  }
}

.features{

  th {
    width: 30px;
  }

  p, textarea{
    height: 38px;
  }
}

.success{
  color: green;
  width: 30px;
  height: 20px;
  transition: all 0.6s linear;
}

.danger{
  color: red;
  width: 30px;
  height: 20px;
  transition: all 0.6s linear;
}

.period {
  width: 100%;
  margin-top: 10px;

  td[id=button] {
    width: 150px;
    text-align: right;
  }

  td[id=input] {
    width: 280px;
    padding-left: 20px
  }

  td[id=label] {
    text-align: right;
  }

  label {
    margin: 0px;
    padding-right: 20px
  }

  input[type=radio],
  input[type=checkbox] {
    width: auto !important;
  }

  span {
    margin-left: 10px;
  }

  input {
    width: 50px !important;
    text-align: right;
  }
}

.login {
  margin-bottom: 20px;

  button {
    margin: 35px 0px 5px 0px;
  }
}

.mobIcon {
  width: 60px;
  height: 60px;
  color: slategray;
  cursor: pointer;

  &:hover {
    color: darkslategray;
  }
}

.img {
  text-align: center;

  img {
    height: 70px;
    width: auto;
    margin-bottom: 5px;
  }
}

.cardSpec {
  padding: 0px;

  input[type=checkbox] {
    position: initial;
    margin: 0;
    margin-right: 5px;
    float: left;
  }
  
  div {
    margin-top: 10px;
    padding: 0px;
  }

  p {
    font-size: 80%;
    font-weight: 400;
    margin: 0px;
  }

  h6 {
    color: deepskyblue;
    margin: 0px;
    line-height: 15px
  }
}

.main {
  justify-content: center !important;
  padding: 15px 0px !important;
}

.vendors {
  background: lightblue;
  padding-top: 15px;
  margin: 20px 0;
}

.martop {
  margin-top: 20px;
}

.card {
  margin: 20px 0px;
}

.spec {
  text-indent: 0px !important;
  float: left;
}

.table {
  color: black;

  table, thead, tbody, th, tr, td {
    border: 0px !important;
  }

  td {
    text-indent: 30px;
  }
}

.review {
  font-size: 4.5rem;
  font-weight: 200;
  position: relative;
  bottom: 50px;
  right: 90px
}

.image {
  float: left;
  text-align: center;
  margin-right: 10px;

  span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    vertical-align: middle;
  }
}

