@import './variables.scss';

.container {
  background: #2aabd2;
}

.footer {
  background: #f7f7f9;
  padding: 20px;


}

.mobIcon {
  width: 60px;
  height: 60px;
  color: dimgray;
}


.img {
  text-align: center;

  img {
    height: 70px;
    width: auto;
    margin-bottom: 5px;
  }
}


.sky {
  color: deepskyblue;
}

.main {
  justify-content: center !important;
  padding: 30px 0px !important;
}

.vendors {
  background: lightblue;
  padding-top: 15px;
  margin: 20px 0;
}

.martop {
  margin-top: 20px;
}

.card {
  margin: 20px 0px;
}

.spec {
  text-indent: 0px !important;
  float: left;
}

.table {
  color: black;

  table, thead, tbody, th, tr, td {
    border: 0px !important;
  }

  td {
    text-indent: 30px;
  }
}

.review {
  font-size: 4.5rem;
  font-weight: 200;
  position: relative;
  bottom: 50px;
  right: 90px
}

.image {
  float: left;
  width: 150px;
  height: 150px;
  text-align: center;
  margin-right: 15px;

  span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    max-width: 150px;
    max-height: 150px;
    vertical-align: middle;
  }
}

